name: publish
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm install
      - run: npm run build
      - run: npm run test
      - run: npm publish
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
